

footer {

    width: 96%;
    background-color: #fc944c;
    padding: 40px 50px;
    display: flex;
    justify-content: center;
}

.footer {
    width: 96%;

}

.banco{
    text-align: center;
    font-size: 25px;
    margin-bottom: 32px;

}

.end {
    text-align: center;
    margin-bottom:32px;
}

.social {
    display: flex;
    justify-content: space-between;
}
