/* cores principais 
  laranja-escuro: #fc944c;
  laranja-claro: #fcbb5c; 
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}

main {
  width: 100%;
  background-color: #fcead5;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0px auto;
  padding: 40px 8px;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.botao-abrir-conta {
  margin-top: 20px;
  background-color: #ffffff;
  color: #fc944c;
  padding: 8px 16px;
  border: 1px solid #fc944c;
  border-radius: 4px;
  font-size: 1rem;
}

.botao-abrir-conta:hover {
  background-color: #fcbb5c;
  border: 1px solid #ffffff;
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
}

#imagem-pagina-principal {
  width: 50%;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 1rem;
    text-align: center;
    justify-items: center;
  }
  .container img {
    grid-row: 1;
  }
}

.quem-somos {
  width: 100%;
  background-color: #fc944c;
}

.container-quem-somos {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0px auto;
  padding: 32px 0px;
}

.container-quem-somos p {
  font-size: 1.3rem;
}

